<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<% if current_userTwitter %>
  <li><%= link_to 'tweet', tweets_path %></li>
<% else %>
  <li><%= link_to 'tweet', root_path + 'auth/twitter' %></li>
<% end %>
<li><%= link_to 'facebook', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => 'http://localhost:3000/oauth/redirect') %></li>